icons/

ssh/.ssh/id_rsa*
ssh/.ssh/known_hosts*
ssh/.ssh/authorized_keys

vim/.viminfo
vim/.vim/bundle/
vim/.vim/.netrwhist

.lesshst
.nano/search_history
.perl_history
.python_history
.sml_history

.bash_history
.bash_sessions/

.zsh_history
.zsh_sessions/
