[user]
	name = Josh Lindsay
	email = git@j000sh.com
	signingkey = 41BDFCF504459AB7

[credential]
	helper = cache

[push]
	default = simple

[alias]
	pushall = !git remote | xargs -L1 git push --all
	graphgpg = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)[gpg:%GK%x20%G?]%C(reset)%n%x20%s%n"
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%C(blue)%x20(%ce)%x20%C(cyan)%C(reset)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
	c = clone

[color]
	ui = auto

[diff]
	tool = nvimdiff

[difftool "nvimdiff"]
	cmd = "nvim -d -u ~/.vimrc \"$LOCAL\" \"$REMOTE\""

[difftool]
	prompt = false

[gpg]
	program = gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[core]
	excludesfile = /Users/josh/.gitignore_global
